html
  head
    title= title
  
  body
    form(action="/blogs", method="POST")
        p
            label(for="title") Title
            input(type="text" name="title")#title

        p
            label(for="author") Author
            input(type="text" name="author")#author

        p
            label(for="body") Body
            input(type="text" name="body")#body

        p
            input(type="submit", value="Salvar")